{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Création d'un utilisateur
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/creation_modif_utilisateur.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <nav>
        {% block nav %}
            {% include 'menu.html.twig' %}
        {% endblock %}
    </nav>

    <main>
        <div class="titre">
            Création d'un nouvel utilisateur
        </div>
        <div class="container">

            <form method="POST" action="{{ path('app_user_new_user') }}">
                <label for="mail">Adresse mail</label>
                <input type="email" size="30" name="mail" placeholder="Adresse mail" required>
                <br>
                <label>Nom</label>
                <input type="text" size="30" name="nom" placeholder="Nom" required>
                <br>
                <label>Prénom</label>
                <input type="text" size="30" name="prenom" placeholder="Prénom" required>
                <br>
                <label>Mot de passe</label>
                <input type="password" size="30" name="password" placeholder="Mot de passe" required>
                <br>
                <label class="span">Confirmer le mot de passe</label>
                <input type="password" size="30" name="confirmPassword" placeholder="Confirmer le mot de passe" required>

                <div class="validation_button">
                    <input type="submit" value="VALIDER">
                    <a href="{{ path('app_admin_front_users') }}">Annuler</a>
                </div>
            </form>

        </div>
    </main>

{% endblock %}
