{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block main %}
    <h1> Liste des pages disponibles </h1>
    <h2> Home </h2>
    <ul>
         <li><a href="{{path('app_home')}}"> Accueil </a></li>
         <li><a href="{{path('app_front_connexion')}}"> Connexion </a></li>
         <li><a href="{{path('app_front_deconnexion')}}"> Déconnexion </a></li>

    </ul>
    <h2> Admin </h2>
        <ul>
             <li><a href="{{path('app_admin_front_users')}}"> Liste des utilisateurs </a></li>
             <li><a href="{{path('app_admin_front_new_user')}}"> Nouveau utilisateur </a></li>
             <li><a href="{{path('app_admin_front_user')}}"> Profile d'un utilisateur </a></li>
        </ul>
    <h2> QCM </h2>
        <ul>
             <li><a href="{{path('app_qcm_front_list')}}"> Liste des QCM </a></li>
             <li><a href="{{path('app_qcm_front_update')}}"> Modifier un QCM </a></li>
             <li><a href="{{path('app_qcm_front_mark')}}"> Corriger un QCM </a></li>
        </ul>
{% endblock %}
