{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/liste_utilisateur.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <nav>
        {% block nav %}
            {% include 'menu.html.twig' %}
        {% endblock %}
    </nav>

    <main>
        <div class="titre">
            Liste de utilisateurs
        </div>
        <div class="sous_titre">
            <div class="nom">
                Nom
            </div>
            <div>
                <ul>
                    {% for user in users %}
                        <li>
                            <div>
                                {{ user.getNom() }}
                                <img class="cache" src="../svg/modif.svg">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prenom">
                Prénom
            </div>
            <div>
                <ul>
                    {% for user in users %}
                        <li>
                            <div>
                                {{ user.getPrenom() }}
                                <img class="cache" src="../svg/modif.svg">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mail">
                Mail
            </div>
            <div>
                <ul>
                    {% for user in users %}
                        <li>
                            <div>
                                {{ user.getEmail() }}
                                <img class="cache" src="../svg/modif.svg">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="action">
                Action
            </div>
            <div>
                <ul class="img_action">
                    {% for user in users %}
                        <li>
                            <div>
                                <img src="../svg/modif.svg">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock %}
