{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/liste_utilisateur.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <nav>
        {% block nav %}
            {% include 'menu.html.twig' %}
        {% endblock %}
    </nav>

    <main>
        <div class="titre">
            Liste de utilisateurs
            <a href="{{ path('app_admin_front_new_user') }}" class="bouton_add sous_titre">Nouvel utilisateur</a>
        </div>

        <div class="parent">
            <div class="div1 sous_titre">Nom</div>
            <div class="div2 sous_titre">Prenom</div>
            <div class="div3 sous_titre">Mail</div>
            <div class="div4 sous_titre">Action</div>
        </div>
        <table>
            {% for user in users %}
            <tr>
                <td>
                    {{ user.getNom() }}
                </td>
                <td>
                    {{ user.getPrenom() }}
                </td>
                <td>
                    {{ user.getEmail() }}
                </td>
                <td>
                    <a href="{{ path('app_admin_front_user', {id: user.getId()}) }}"><img class="image" src="../svg/modif.svg"></a>
                    <a href="{{path('app_admin_delete_user', {id: user.getId()}) }}"><img class="poubelle image" src="../svg/poubelle.svg"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}
