{% block menu %}

    <div class="dropdown">
        <span class='hello_user'>Bienvenue User</span>
        <button class="boutonmenuprincipal"><img src="{{ asset('svg/user.svg') }}"></button>
        <div class="dropdown-child">
            <a href="{{ absolute_url('/liste_qcm')}}">Mes QCM </a>
            <a href="{{ absolute_url('/creation_qcm')}}">Créer un QCM</a>
            <a href="{{ absolute_url('/correction_qcm')}}">Paramètres</a>
            <a href="{{ absolute_url('/parametre')}}">Corriger un QCM</a>
            <a href="{{ absolute_url('/deconnexion')}}">Déconnexion</a>
        </div>
    </div>
{% endblock %}