{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - {{ qcm.titre }}
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/creation_qcm.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/modif_qcm.js') }}" defer></script>
{% endblock %}

{% block main %}
    {% block nav %}
       {% include 'menu.html.twig' %}
    {% endblock %}

    <template id="questionTemplate">
        <div class="question">
            <div>
                <p class="label_question">
                    <label id="questionTitre"> </label>
                    <textarea id="enonceQuestion" type="text" placeholder="Entrez une question ici"></textarea>
                </p>
                <div id="reponses">
                </div>

                <input id="addReponse" type="button" value="Ajouter une réponse" />
                <input id="deleteQuestion" type="button" value="Supprimer la question" />
            </div>
        </div>
    </template>

    <template id="reponseTemplate">
        <div class="reponse">
            <label id="reponseTitre"> </label>
            <input type="checkbox" title="Cochez la/les bonne(s) réponses" />
            <input class="text_reponse" placeholder="Entrez une réponse ici" size="50" />
            <input type="button" value="Supprimer la réponse" />
        </div>
    </template>


    <!--CREATION QCM-->

    <div class="grid" data-id="{{qcm_id}}">
        <div class="title">
            <label class="titreQCM">Titre du QCM</label>
        <input type="text" placeholder="Entrez le titre du QCM ici" size="50" name="inputtitreQCM" value="{{qcm.titre}}"/>
        </div>

        <div id="question_reponse">
            {% for question in qcm.questions %}
            {% include 'question_template.html.twig' with {'question': question, 'id': loop.index} %}
            {% endfor %}
        </div>

        <div class="boutons_crea">
            <div class="button_form">
                <input type="button" value="Ajouter une question" onClick="addQuestion()" />
            </div>

            <div class="button_form">
                <input type="button" value="Sauvegarder le QCM" onclick="save_qcm()">
            </div>

            <div class="button_form">
                <input type="button" value="Télécharger le QCM" onclick="generate_pdf()">
            </div>

            <div class="boutons_option_sans_switch">
                Nombre de copies :<input type="number" min="1" max="500" value="1">
            </div>

            <div class="boutons_option_sans_switch">
                Barème :<input type="number" min="1" max="100" value="1">
            </div>

            <div class="boutons_option_sans_switch">
                Mauvaise réponse :<input type="number" min="-100" max="100" value="0">
            </div>

            <div class="boutons_option">
                Questions aléatoires
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="boutons_option_sans_switch">
                Groupe : <select>
                    <option>
                        Aucun groupe
                    </option>
                    <option>
                        Question Charlemagne
                    </option>
                    <option>
                        Créer un groupe
                    </option>
                </select>
            </div>

            <div class="boutons_option">
                Question d'exemple
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="boutons_option">
                Première question
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="boutons_option">
                Dernière question
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="boutons_option">
                Code
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
{% endblock %}
