{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Créer un QCM
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/creation_qcm.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

    {% block nav %}
       {% include 'menu.html.twig' %}
    {% endblock %}

    <!--CREATION QCM-->

    <div class="grid">
        <div class="title">
            <label class="titreQCM">Titre du QCM</label>
            <input type="text" placeholder="Entrez le titre du QCM ici" size="50" name="inputtitreQCM" />
        </div>

        <div id="question_reponse"></div>

        <div class="boutons_crea">
            <p>
            <div class="button_add_Q">
                <input type="button" value="Ajouter une question" onClick="addQuestion(this)" />
            </div>
            </p>
            <p>
            <div class="button_visu" onclick="addOptions()">
                <input type="button" value="Options">
            </div>
            </p>
            <p>
            <div class="button_save">
                <input type="button" value="Sauvegarder le QCM">
            </div>
            </p>
            <p>
            <div class="submitbutton" onclick="generate_pdf()">
                <input type="button" value="Télécharger le QCM">
            </div>
            </p>
        </div>
    </div>

    <script>
        function addOptions() {
            let newDiv = document.createElement('div');
            newDiv.style.backgroundColor = 'blue';
            document.getElementById('question_reponse').appendChild(newDiv);
        }
        
        function delAnswer(idDivReponse)
        {
            let elemDelet=document.getElementById(idDivReponse);
            let parent =elemDelet.parentElement;
            parent.removeChild(elemDelet);
            parent.setAttribute("value",parseInt(parent.attributes.value.value)-1);

            for (let i =1;i!=parent.children.length;i++)
            {
                parent.children[i].setAttribute("id","R-"+parent.id[2]+"-"+(i-1));
                parent.children[i].children[0].innerHTML="Réponse "+i+" : ";
                parent.children[i].children[1].setAttribute("name","Rinput-"+parent.id[2]+"-"+(i-1));
                parent.children[i].children[2].setAttribute("name","Rbox-"+parent.id[2]+"-"+(i-1));
                parent.children[i].children[3].setAttribute("class","R-"+parent.id[2]+"-"+(i-1));

            }
            console.log("supression effectuée avec succès");
        }

        function addAnswer(e)
        {
            var elem=document.getElementById("D-"+e);
            var id = parseInt(elem.id);
            var divReponse = document.createElement("div");
            var labelNumReponse=document.createElement("label");
            var inputReponse=document.createElement("input");
            var inputTrueReponse=document.createElement("input");
            var buttonDelReponse = document.createElement("input");

            buttonDelReponse.setAttribute("type","button");
            buttonDelReponse.setAttribute("class","R-"+e+"-"+elem.attributes.value.value);
            buttonDelReponse.setAttribute("value","Supprimer la réponse ");
            buttonDelReponse.setAttribute("onClick","delAnswer(this.attributes.class.value)");

            divReponse.setAttribute("id","R-"+e+"-"+elem.attributes.value.value);

            labelNumReponse.innerHTML="\tRéponse "+(elem.children.length)+" : ";
            inputReponse.setAttribute("class","text_reponse");
            inputReponse.setAttribute("placeholder","Entrez une réponse ici");
            inputReponse.setAttribute("size","50");
            inputReponse.setAttribute("name","Rinput-"+e+"-"+(elem.children.length));
            inputReponse.setAttribute("id","Rinput-"+e+"-"+(elem.children.length));
            inputTrueReponse.setAttribute("type","checkbox");
            inputTrueReponse.setAttribute("name","Rbox-"+e+"-"+(elem.children.length));
            inputTrueReponse.setAttribute("id","Rbox-"+e+"-"+(elem.children.length));
            inputTrueReponse.setAttribute("title","Cochez la/les bonne(s) réponses");

            divReponse.appendChild(labelNumReponse);
            divReponse.appendChild(inputTrueReponse);
            divReponse.appendChild(inputReponse);
            divReponse.appendChild(buttonDelReponse);
            elem.appendChild(divReponse);
            elem.setAttribute("value",parseInt(elem.attributes.value.value)+1);
        }

        function delQuestion(idDiv)
        {

            var elemDelet=document.getElementById(idDiv);
            var parent =elemDelet.parentElement;
            parent.removeChild(elemDelet);
            for(var i =0;i!=parent.children.length;i++)
            {
                parent.children[i].children[0].children[0].innerHTML="Question "+(i+1)+" : ";
            }

        }
        function addQuestion()
        {
            let divParent = document.getElementById("question_reponse");
            let nbquestion = divParent.children.length;

            console.log("question nb"+nbquestion+ "added");

            let divQuestionETReponse = document.createElement("div");
            let divQuestion = document.createElement("div");

            let labelNumQuestion = document.createElement("label");
            let inputQuestion = document.createElement("input");
            inputQuestion.setAttribute("id", "input-question-" + divParent.children.length.toString());
            let inputQuestionImg = document.createElement("input");
            let buttonAddReponse = document.createElement("input");
            let buttonDelQuestion = document.createElement("input");
            let mybr = document.createElement('br');

            buttonAddReponse.setAttribute("id",divParent.children.length.toString());
            buttonAddReponse.setAttribute("type","button");
            buttonAddReponse.setAttribute("value","Ajouter une réponse");
            buttonAddReponse.setAttribute("onClick","addAnswer(this.id)");

            buttonDelQuestion.setAttribute("type","button");
            buttonDelQuestion.setAttribute("class","D-"+divParent.children.length);
            buttonDelQuestion.setAttribute("value","Supprimer la question ");
            buttonDelQuestion.setAttribute("onClick","delQuestion(this.attributes.class.value)");

            divQuestionETReponse.setAttribute("id","D-"+divParent.children.length);
            divQuestionETReponse.setAttribute("class","question");
            divQuestionETReponse.setAttribute("value",0);
            divQuestion.setAttribute("id","Q-"+divParent.children.length);

            inputQuestion.setAttribute("type","text");
            inputQuestion.setAttribute("placeholder","Entrez une question ici");
            inputQuestion.setAttribute("size","50");
            inputQuestion.setAttribute("name","Q-"+divParent.children.length);

            labelNumQuestion.innerHTML= "Question "+(divParent.children.length+1)+" : ";
            inputQuestionImg.setAttribute("type","file");
            inputQuestionImg.setAttribute("name","I-"+divParent.children.length);
            inputQuestionImg.setAttribute("accept","image/png, image/jpeg, image/jpg, image/tiff");
            inputQuestionImg.setAttribute("class","input_file");

            divQuestion.appendChild(labelNumQuestion);
            divQuestion.appendChild(inputQuestion);
            divQuestion.appendChild(inputQuestionImg);
            divQuestion.appendChild(mybr);
            divQuestion.appendChild(buttonAddReponse);
            divQuestion.appendChild(buttonDelQuestion);
            divQuestionETReponse.appendChild(divQuestion);
            divParent.appendChild(divQuestionETReponse);
        }

        function load_qcm() {
            {% for question in qcm.questions %}
                addQuestion();
                document.getElementById("input-question-" + {{loop.index0}}).value = "{{question.enonce}}";
                //inputReponse.setAttribute("id","Rinput-"+(elem.children.length)+"-"+e);
                {% for reponse in question.reponses %}
                    addAnswer({{loop.parent.loop.index0}});
                    document.getElementById("Rinput-{{loop.parent.loop.index0}}-{{loop.index}}").value = "{{reponse.texte}}";
                    document.getElementById("Rbox-{{loop.parent.loop.index0}}-{{loop.index}}").checked = "{{reponse.isCorrect()}}";
                {% endfor %}
            {% endfor %}
        }

        load_qcm();
        if ({{qcm.id}} == 0) {
            addQuestion();
        }

        function generate_pdf() {
            fetch(window.location.origin + "/api/qcm/generate/{{qcm_id}}")
                .then(res => res.blob())
                .then(data => {
                    const file = new Blob([data], {type: 'application/pdf'});
                    window.open(window.URL.createObjectURL(file));
                });
        }
    </script>

{% endblock %}
