{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/liste_qcm.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <nav>
        {% block nav %}
            {% include 'menu.html.twig' %}
        {% endblock %}
    </nav>
    <main>
        <div class="titre">
            Mes QCM
        </div>
        <div class="tri">
            Trier par :
            <select>
                <option value="0">Date de création</option>
                <option value="1">Date de modification</option>
                <option value="2">Ordre alphabétique</option>
            </select>
        </div>
        <table>
            {% for qcm in qcm_list %}
                <tr>
                    <td>
                        {{ qcm.creationDateString() }}
                    </td>
                    <td>
                        {{ qcm.titre }}
                    </td>
                    <td>
                        <a class="underline" href="{{ path('app_qcm_front_update', {id: qcm.id}) }}">Modifier</a>
                    </td>
                    <td>
                        <a class="underline" href="{{ path('app_generate_qcm', {id: qcm.id}) }}">Générer PDF</a>
                    </td>
                    <td>
                        <a class="underline" href="{{ path('app_qcm_front_mark', {id: qcm.id}) }}">Corriger</a>
                    </td>
                    <td>
                        <img class="poubelle image" src="../svg/poubelle.svg" style="width: 15%">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}



