<div class="question" id="{{question.id}}" name="Q-{{id}}">
    <div>
        <label id="questionTitre"> Question {{ id }} : </label>
        <input id="enonceQuestion" type="text" placeholder="Entrez une question ici" size="50" value="{{question.enonce}}" />

        <div id="reponses">
            {% for reponse in question.reponses %}
            <div id="{{reponse.id}}" name="REP-{{id}}-{{loop.index}}" class="reponse">
                <label> Reponse {{ loop.index }} </label>
                <input type="checkbox" title="Cochez la/les bonne(s) réponses" {{reponse.isCorrect ? 'checked' : ''}}>

                <input class="text_reponse" placeholder="Entrez une réponse ici" size="50" value="{{reponse.texte}}"/>

                <input type="button" value="Supprimer la réponse" onclick="deleteReponse({{id}}, {{loop.index}})"/>
            </div>
            {% endfor %}
        </div>

        <input id="addReponse" type="button" value="Ajouter une réponse" onclick="addReponse({{id}})">
        <input id="deleteQuestion" type="button" value="Supprimer la question" onclick="deleteQuestion({{id}})"/>
    </div>
</div>
