<div class="question" id="Q-{{id}}">
    <div>
        <label id="questionTitre"> Question {{ question.id }} : </label>
        <input type="text" placeholder="Entrez une question ici" size="50" />

        <div id="reponses">
            {% for reponse in question.reponses %}
            <div id="REP-{{id}}-{{loop.index}}">
                <label> Reponse {{ loop.index }} </label>
                <input name="C-{{id}}-{{loop.index}}" type="checkbox" title="Cochez la/les bonne(s) réponses" {{reponse.isCorrect ? 'checked' : ''}}>

                <input name="R-{{id}}-{{loop.index}}" class="text_reponse" placeholder="Entrez une réponse ici" size="50" />

                <input type="button" value="Supprimer la réponse" onclick="deleteReponse({{id}}, {{loop.index}})"/>
            </div>
            {% endfor %}
        </div>

        <input id="addReponse" type="button" value="Ajouter une réponse" onclick="addReponse({{id}})">
        <input id="deleteQuestion" type="button" value="Supprimer la question" onclick="deleteQuestion({{id}})"/>
    </div>
</div>
